.area-details {
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

.area-name {
    text-align: center;
}

.area-info-item {
    margin-top: 20px;
}

.area-action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.area-submit-button {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px 5px;
    margin-right: 10px;
    width: 120px;
    height: 68px;
    background-color: darkgreen;
}

.area-delete-button {
    background-color: #3f2000;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 10px;
    width: 420px;
    height: 36px;
}

.area-update-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.area-update-inputs input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
