.delete-button {
    background-color: #3f2000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    background-color: #643c10;
    transform: scale(1.05);
}

.delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(68, 6, 6, 0.5);
}

.delete-button:active {
    background-color:  #442506;
    transform: scale(0.95);
}
