.robot-details {
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center; /* Centralizar conteúdo */
    box-sizing: border-box; /* Incluir padding e borda no tamanho total */
}

.robot-info-item {
    margin-top: 20px; /* Espaçamento entre os itens de informação */
}

.robot-action-buttons {
    display: flex;
    flex-direction: column; /* Alinhar os itens verticalmente */
    justify-content: center; /* Alinhar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    margin-top: 20px; /* Espaçamento entre o formulário de atualização e o conteúdo acima */
}

.robot-submit-button {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 10px;
    width: 100px; /* Largura dos botões */
    background-color: #5e8beb;
}


.robot-update-form {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Espaçamento entre o formulário de atualização e o conteúdo acima */
}

.robot-update-form input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.delete-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;

    width: 100px;
    height: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
}

.delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 76, 76, 0.5);
}

.delete-button:active {
    background-color: #e60000;
    transform: scale(0.95);
}

