.time-details {
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

.time-description {
    text-align: center;
}

.time-info-item {
    margin-top: 20px;
}

.time-action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.time-submit-button {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px 5px;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    background-color: #5e8beb;
}



.time-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.time-update-inputs input {
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
